<footer id="footer">
    <div id="inner_footer">
        <a href="https://etarix.com">
            <img src="/assets/pages/Logo.svg" title="" alt="">
        </a>
        <a href="">imprint</a>
        <a href="">privacy policy</a>
    </div>
</footer>