<section id="grid">
    <h2>Use grid</h2>
    <p>Use a grid whenever possible.</p>
    <div id="grid_boxes">
        <div class="grid_box">
            <img src="/assets/pages/Icon.svg" title="" alt="">
        </div>
        <div class="grid_box">
            <img src="/assets/pages/Icon.svg" title="" alt="">
        </div>
        <div class="grid_box">
            <img src="/assets/pages/Icon.svg" title="" alt="">
        </div>
        <div class="grid_box">
            <img src="/assets/pages/Icon.svg" title="" alt="">
        </div>
        <div class="grid_box">
            <img src="/assets/pages/Icon.svg" title="" alt="">
        </div>
    </div>
</section>