<header id="header">
    <div id="header_content">
        <h1>See how all sections are<br>uniformly spaced?</h1>
        <!-- <p>Take a look at the code to see how fine-tuned the website was<br>made responsive.</p> -->
        <p>We use uniform margins to the edge of the page. Use spacing in steps<br>of 100px, 50px, and 25px.</p>
        <a href="https://github.com/etarix-com/requirements" target="_blank">view code</a>
        <div id="developer_example">
            <p>developer example</p>
        </div>
    </div>
</header>