<nav id="nav">
    <div id="inner_nav">
        <a href="https://etarix.com">
            <img src="/assets/pages/Logo.svg" title="" alt="">
        </a>
        <div id="nav_links">
            <a href="" class="<% if (route === 'home') { %>active_link<% } %>">home</a>
            <a href="" class="<% if (route === 'about') { %>active_link<% } %>">about</a>
            <a href="" class="<% if (route === 'services') { %>active_link<% } %>">services</a>
            <a href="" class="<% if (route === 'pricing') { %>active_link<% } %>">pricing</a>
            <a href="" class="<% if (route === 'contact') { %>active_link<% } %>">contact</a>
        </div>
    </div>
</nav>